/**{margin: 0; padding: 0; overflow: hidden;}**/
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
#heading1{
    margin-bottom: -40px;
    margin-top: 60px;
}
h1{
    font-size: 50px;
}
.tomato-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    padding-bottom: 50px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}
.par1{
    margin-bottom: 25px;
}
.dream-big{
    color: tomato;
}
#dreambig-id{
    margin-top: 30px;
}
.second-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    background-position-y: 220px;
}
p{
    color: dimgray;
}
.single-experence{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    height: 50%;
}
.experence-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px;
    background-position-y: 120px;
    margin-bottom: -30px;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,  lightsalmon,  tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}
footer{
    margin-bottom: 10px;
}
.exp-header{
    font-size: 50px;
    color: tomato;
    text-align: center;
    margin-bottom: 30px;
}